<!doctype html>
<html>

<head>
    <title>{% block title %}HoosStudying{% endblock %}</title>
</head>

<body>
    {% if user.is_authenticated %}
    Logged in as {{ user.username }} |
    <form method="post" action="{% url 'accounts:logout' %}" style="display:inline"> {% csrf_token %} <button
            type="submit">Logout</button> </form> |
    <a href="{% url 'courses:my_courses' %}">My Courses</a>
    {% else %}
    <a href="{% url 'accounts:login' %}">Login</a> |
    <a href="{% url 'accounts:signup' %}">Signup</a>
    {% endif %}
    <hr>
    {% block content %}{% endblock %}
</body>

</html>